* {
  font-family: Futura;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.hidden {
  display: none;
}

a {
  color: black;
  text-decoration: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes fadeout {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

/*
*
* header styles
*
*/

.instructions {
  font-size: large;
  font-style: italic;
}

.animated-header > span {
  display: inline-block;
  font-family: Futura;
  font-size: -webkit-calc(100% + 20px);
  font-size: -calc(100% + 20px);
  font-weight: bold;
  line-height: 75%;
  letter-spacing: 2%;
}

.animated-header-image {
  height: -webkit-calc(2% + 80px);
  height: -calc(2% + 80px);
  width: -webkit-calc(2% + 80px);
  width: -calc(2% + 80px);
  animation: wobble 2.5s infinite ease;
  margin-top: 10px;
}

.animated-header > span:nth-child(2n) {
  -webkit-animation: wobble 1s infinite ease;
  animation: wobble 1s infinite ease;
}

.animated-header > span:nth-child(2n+1) {
  -webkit-animation: wobble 2s infinite reverse ease;
  animation: wobble 2s infinite reverse ease;
}

.animated-header > span:nth-child(2n+3) {
  -webkit-animation: wobble 1.5s infinite ease;
  animation: wobble 1.5s infinite ease;
}

@keyframes wobble {
  0% { transform: translateX(0%); } 
  25% { transform: translateX(-5%) rotate(-3deg); } 
  50% { transform: translateX(0%) rotate(3deg); } 
  75% { transform: translateX(5%) rotate(-3deg); } 
  100% { transform: translateX(0%); } 
} 

/*
*
* button styles
*
*/

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.spirit-button {
  border: 2px solid black;
  border-left: transparent;
  border-right: transparent;
  border-bottom: transparent;
  background-color: transparent;
  cursor: pointer;

  font-size: x-large;
  font-weight: bold;
  text-transform: uppercase;

  background: white;
  background: linear-gradient(to left, white 50%, black 50%) right;
  background-size: 200%;

  overflow: hidden;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.spirit-button:hover {
  background-position: left;
  color: white;
}

.spirit-button:active {
  background-position: left;
  color: white;
}

.spirit-button-hidden {
  height: 0px !important;
  border: transparent !important;
}

/*
*
* drinks styles
*
*/

.drinks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.drinks-container-description {
  width: 100%;
  text-align: center;
}

.drink-card {
  display: block;
  overflow: hidden;
  width: max-content;

  border: 2px solid black;
  border-radius: 10px;
}

.drink-card-image {
  width: 200px;
  height: 200px;

  border-bottom: 1px solid black;

  -webkit-animation: fadein 500ms ease forwards;
  -moz-animation: fadein 500ms ease forwards;
  -o-animation: fadein 500ms ease forwards;
  animation: fadein 500ms ease forwards;
}

.drink-card-title {
  padding: 5px;
  text-transform: uppercase;
  width: 190px;
}

@media (max-width: 430px) {
  .drink-card-image {
    height: 150px;
    width: 150px;
  }

  .drink-card-title {
    width: 140px;
  }
}
